<!-- app/views/shared/_modal.html.erb -->
<div id="modal" class="modal hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
  <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
    <div class="mt-3 text-center">      
      <p class="text-sm text-gray-500 mt-2">
        <%= render "google_graph" %>
      </p>
      <div class="mt-4">
        <button data-action="click->hello#close" class="px-4 py-2 bg-gray-500 text-white rounded">Close</button>
      </div>
    </div>
  </div>
</div>
